* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  height: 145px;
  left: 0px;
  top: 0px;

  background-color: #0f8b8d;
  border-radius: 30px 30px 0px 0px;
}

.headerlogo a img {
  position: absolute;
  width: 335px;
  height: 67px;
  left: 138px;
  top: 39px;
}

a {
  text-decoration: none;
}

.headermenu {
  display: flex;
  position: absolute;
  left: 906px;
  top: 54px;

  font-weight: 400;
  font-size: 30px;
  column-gap: 50px;
}

.headermenu a {
  color: #f9fbfe;
}

main {
  width: 100%;
}

main h1 {
  position: absolute;
  left: 138px;
  top: 245px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #0f8b8d;
}

main h2 {
  position: absolute;
  left: 138px;
  top: 323px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #143642;
}

.box1 {
  position: absolute;
  width: 474px;
  height: 196px;
  left: 138px;
  top: 372px;

  background: #ffffff;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.box1 h1 {
  position: absolute;
  left: 45px;
  top: 20px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #143642;
}

.box1 h2 {
  position: absolute;
  left: 45px;
  top: 76px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #143642;
}

.box2 {
  position: absolute;
  width: 474px;
  height: 196px;
  left: 138px;
  top: 588px;

  background: #ffffff;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.box2 h1 {
  position: absolute;
  left: 45px;
  top: 20px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #143642;
}

.box2 h2 {
  position: absolute;
  left: 45px;
  top: 76px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #143642;
}

.box3 {
  position: absolute;
  width: 474px;
  height: 196px;
  left: 138px;
  top: 804px;

  background: #ffffff;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.box3 h1 {
  position: absolute;
  left: 45px;
  top: 20px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #143642;
}

.box3 h2 {
  position: absolute;
  left: 45px;
  top: 76px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #143642;
}

main img {
  position: absolute;
  width: 581.95px;
  height: 580.29px;
  left: 724.2px;
  top: 336.17px;
  border-radius: 20px;
}

footer {
  position: absolute;
  width: 100%;
  height: 460px;
  left: 0px;
  top: 1100px;

  background: #143642;
  border-radius: 20px;
}

.footerlogo img {
  position: absolute;
  width: 335px;
  height: 67px;
  left: 138px;
  top: 80px;
}

.mailbutton img {
  position: absolute;
  left: 138px;
  top: 178px;
  filter: invert(1);
}

.phonebutton img {
  position: absolute;
  left: 205px;
  top: 178px;
  filter: invert(1);
}

.footermenu ul {
  display: flex;
  position: absolute;
  left: 706px;
  top: 80px;

  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
  column-gap: 90px;
}

.footermenu li {
  color: #ec9a29;
  list-style: none;
}

.productmenu {
  display: grid;
  position: absolute;
  left: 706px;
  top: 139px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  row-gap: 30px;
}

.productmenu a {
  color: #f9fbfe;
}

.storemenu {
  display: grid;
  position: absolute;
  left: 901px;
  top: 139px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  row-gap: 30px;
}

.storemenu a {
  color: #f9fbfe;
}

.contactmenu {
  display: grid;
  position: absolute;
  left: 1054px;
  top: 139px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  row-gap: 30px;
}

.contactmenu a {
  color: #f9fbfe;
}

/* ======================================= */
/* RESPONSIVE PAGES STYLING 1300 PX BELOW */
/* ======================================*/

@media (max-width: 1300px) {
  /* HEADER */

  header {
    height: 140px;
  }

  .headerlogo a img {
    width: 330px;
    height: 60px;
    left: 130px;
    top: 35px;
  }

  .headermenu {
    left: 700px;
    top: 50px;
    font-size: 30px;
    column-gap: 50px;
  }

  /* FOOTER */

  footer {
    height: 450px;
    left: 0px;
    top: 1150px;
  }

  .footerlogo img {
    width: 330px;
    height: 60px;
    left: 130px;
    top: 75px;
  }

  .mailbutton img {
    left: 130px;
    top: 170px;
  }

  .phonebutton img {
    left: 200px;
    top: 170px;
  }

  .footermenu ul {
    left: 606px;
    top: 80px;

    font-size: 30px;
    line-height: 29px;
    column-gap: 90px;
  }

  .productmenu {
    left: 606px;
    top: 139px;

    font-size: 24px;
    row-gap: 30px;
  }

  .storemenu {
    left: 801px;
    top: 139px;

    font-size: 24px;
    row-gap: 30px;
  }

  .contactmenu {
    left: 954px;
    top: 139px;

    font-size: 24px;
    row-gap: 30px;
  }

  /* MAIN */

  main h1 {
    left: 100px;
    top: 245px;

    font-size: 48px;
    line-height: 58px;
  }

  main h2 {
    left: 100px;
    top: 323px;

    font-size: 24px;
    line-height: 29px;
  }

  .box1 {
    width: 474px;
    height: 196px;
    left: 100px;
    top: 372px;
  }

  .box1 h1 {
    left: 45px;
    top: 20px;

    font-size: 30px;
    line-height: 36px;
  }

  .box1 h2 {
    left: 45px;
    top: 76px;

    font-size: 20px;
    line-height: 24px;
  }

  .box2 {
    width: 474px;
    height: 196px;
    left: 100px;
    top: 588px;
  }

  .box2 h1 {
    left: 45px;
    top: 20px;

    font-size: 30px;
    line-height: 36px;
  }

  .box2 h2 {
    left: 45px;
    top: 76px;

    font-size: 20px;
    line-height: 24px;
  }

  .box3 {
    width: 474px;
    height: 196px;
    left: 100px;
    top: 804px;
  }

  .box3 h1 {
    left: 45px;
    top: 20px;

    font-size: 30px;
    line-height: 36px;
  }

  .box3 h2 {
    left: 45px;
    top: 76px;

    font-size: 20px;
    line-height: 24px;
  }

  main img {
    width: 500px;
    height: 500px;
    left: 600px;
    top: 400px;
  }
}

/* ====================================== */
/* RESPONSIVE PAGES STYLING 400 PX BELOW */
/* =====================================*/

@media (max-width: 400px) {
  /* HEADER */

  header {
    height: 100px;
  }

  .headerlogo a img {
    width: 135px;
    height: 25px;
    left: 40px;
    top: 20px;
  }

  .headermenu {
    left: 60px;
    top: 65px;
    font-size: 15px;
    column-gap: 50px;
  }

  /* FOOTER */

  footer {
    height: 350px;
    left: 0px;
    top: 950px;
  }

  .footerlogo img {
    width: 145px;
    height: 30px;
    left: 40px;
    top: 20px;
  }

  .mailbutton img {
    width: 25px;
    height: 20px;
    left: 255px;
    top: 25px;
  }

  .phonebutton img {
    width: 25px;
    height: 20px;
    left: 300px;
    top: 25px;
  }

  .footermenu ul {
    flex-direction: column;
    left: 40px;
    top: 80px;

    font-size: 15px;
    line-height: 15px;
    row-gap: 75px;
  }

  .productmenu {
    left: 120px;
    top: 80px;

    font-size: 14px;
    row-gap: 14px;
  }

  .storemenu {
    left: 70px;
    top: 200px;

    font-size: 14px;
    row-gap: 14px;
  }

  .contactmenu {
    left: 70px;
    top: 290px;

    font-size: 14px;
    row-gap: 14px;
  }

  /* MAIN */

  main h1 {
    left: 40px;
    top: 450px;

    font-size: 20px;
    line-height: 25px;
  }

  main h2 {
    left: 40px;
    top: 490px;

    font-size: 15px;
    line-height: 15px;
  }

  .box1 {
    width: 300px;
    height: 110px;
    left: 40px;
    top: 530px;
  }

  .box1 h1 {
    left: 25px;
    top: 20px;

    font-size: 15px;
    line-height: 20px;
  }

  .box1 h2 {
    width: 230px;
    left: 25px;
    top: 50px;

    font-size: 12px;
    line-height: 14px;
  }

  .box2 {
    width: 300px;
    height: 110px;
    left: 40px;
    top: 665px;
  }

  .box2 h1 {
    left: 25px;
    top: 20px;

    font-size: 15px;
    line-height: 20px;
  }

  .box2 h2 {
    width: 230px;
    left: 25px;
    top: 50px;

    font-size: 12px;
    line-height: 14px;
  }

  .box3 {
    width: 300px;
    height: 110px;
    left: 40px;
    top: 800px;
  }

  .box3 h1 {
    left: 25px;
    top: 20px;

    font-size: 15px;
    line-height: 20px;
  }

  .box3 h2 {
    width: 230px;
    left: 25px;
    top: 50px;

    font-size: 12px;
    line-height: 14px;
  }

  main img {
    width: 250px;
    height: 250px;
    left: 50px;
    top: 150px;
  }
}
