* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  height: 700px;
  left: 0px;
  top: 0px;

  background-image: url(../IMAGE/coffeeheader.png);
  background-size: cover;
  border-radius: 20px;
}

.headerback {
  position: absolute;
  width: 100%;
  height: 700px;
  left: 0px;
  top: 0px;

  font-family: "Lato";
  font-style: normal;

  background: #143642b2;
  opacity: 0.8;
  border-radius: 20px;
}

.headerlogo {
  position: absolute;
  height: 67px;
  left: 138px;
  top: 39px;
}

a {
  text-decoration: none;
}

.headermenu {
  position: absolute;
  left: 906px;
  top: 54px;

  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.headermenu a {
  padding: 25px;
  color: white;
}

.headertext h1 {
  position: absolute;
  right: 476px;
  left: 477px;
  top: 239px;

  font-weight: 800;
  font-size: 70px;
  line-height: 84px;

  text-align: center;
  color: white;
}

.headertext h2 {
  position: absolute;
  right: 470px;
  left: 471px;
  top: 417px;

  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  text-align: center;
  color: white;
}

main {
  width: 100%;
}

.whoarewe img {
  position: absolute;
  height: 460px;
  left: 257px;
  top: 800px;

  border-radius: 20px;
}

.whoarewe h1 {
  position: absolute;
  width: 282px;
  height: 58px;
  left: 730px;
  top: 800px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #0f8b8d;
}

.whoarewe .rectangle1 {
  position: absolute;
  width: 278px;
  height: 5px;
  left: 730px;
  top: 878px;

  background: #ec9a29;
}

.whoarewe h2 {
  position: absolute;
  width: 452px;
  height: 116px;
  left: 730px;
  top: 903px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #143642;
}

.product h1 {
  position: absolute;
  width: 400px;
  height: 58px;
  left: 257px;
  top: 1360px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #0f8b8d;
}

.product .rectangle2 {
  position: absolute;
  width: 399px;
  height: 5px;
  left: 257px;
  top: 1438px;

  background: #ec9a29;
}

.product h2 {
  position: absolute;
  width: 425px;
  height: 58px;
  left: 257px;
  top: 1463px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #143642;
}

.product .probutton {
  position: absolute;
  width: 335px;
  height: 70px;
  left: 257px;
  top: 1566px;

  background: #a8201a;
  border-radius: 55px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
  color: #f9fbfe;

  opacity: 0.8;
}

.product .probutton:hover {
  opacity: 1;
}

.product img {
  position: absolute;
  height: 335px;
  left: 828px;
  top: 1365px;

  border-radius: 20px;
}

.hangout img {
  position: absolute;
  height: 433px;
  left: 257px;
  top: 1795px;

  border-radius: 20px;
}

.hangout h1 {
  position: absolute;
  width: 382px;
  height: 58px;
  left: 828px;
  top: 1795px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #0f8b8d;
}

.hangout .rectangle3 {
  position: absolute;
  width: 381px;
  height: 5px;
  left: 828px;
  top: 1873px;

  background: #ec9a29;
}

.hangout p {
  position: absolute;
  width: 398px;
  height: 87px;
  left: 828px;
  top: 1898px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #143642;
}

.hangout .hangbutton {
  position: absolute;
  width: 335px;
  height: 70px;
  left: 848px;
  top: 2030px;

  background: #a8201a;
  border-radius: 55px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
  color: #f9fbfe;

  opacity: 0.8;
}

.hangout .hangbutton:hover {
  opacity: 1;
}

.instagram h1 {
  position: absolute;
  width: 855px;
  height: 58px;
  left: 293px;
  top: 2348px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  text-align: center;

  color: #0f8b8d;
}

.instagram span {
  color: #ec9a29;
}

.instagram .feed1 {
  position: absolute;
  height: 237px;
  left: 257px;
  top: 2456px;
}

.instagram .feed2 {
  position: absolute;
  height: 237px;
  left: 602px;
  top: 2456px;
}

.instagram .feed3 {
  position: absolute;
  height: 237px;
  left: 947px;
  top: 2456px;
}

.instagram .feed4 {
  position: absolute;
  width: 237px;
  height: 237px;
  left: 257px;
  top: 2743px;
}

.instagram .feed5 {
  position: absolute;
  width: 237px;
  height: 237px;
  left: 602px;
  top: 2743px;
}

.instagram .feed6 {
  position: absolute;
  width: 237px;
  height: 237px;
  left: 947px;
  top: 2743px;
}

.askmore h1 {
  position: absolute;
  width: 280px;
  height: 58px;
  left: 580px;
  top: 3080px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  text-align: center;

  color: #0f8b8d;
}

.askmore h2 {
  position: absolute;
  width: 877px;
  height: 29px;
  left: 282px;
  top: 3158px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  text-align: center;

  color: #143642;
}

.askmore .askbutton {
  position: absolute;
  width: 335px;
  height: 70px;
  left: 552px;
  top: 3207px;

  background: #a8201a;
  border-radius: 55px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
  color: #f9fbfe;

  opacity: 0.8;
}

.askmore .askbutton:hover {
  opacity: 1;
}

footer {
  position: absolute;
  width: 100%;
  height: 460px;
  left: 0px;
  top: 3377px;

  background: #143642;
  border-radius: 20px;
}

.footerlogo img {
  position: absolute;
  width: 355px;
  height: 67px;
  left: 138px;
  top: 80px;
}

.mailbutton img {
  position: absolute;
  left: 138px;
  top: 178px;
  filter: invert(1);
}

.phonebutton img {
  position: absolute;
  left: 205px;
  top: 178px;
  filter: invert(1);
}

.footermenu ul {
  display: flex;
  position: absolute;
  left: 706px;
  top: 80px;

  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
  column-gap: 90px;
}

.footermenu li {
  color: #ec9a29;
  list-style: none;
}

.productmenu {
  display: grid;
  position: absolute;
  left: 706px;
  top: 139px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  row-gap: 30px;
}

.productmenu a {
  color: #f9fbfe;
}

.storemenu {
  display: grid;
  position: absolute;
  left: 901px;
  top: 139px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  row-gap: 30px;
}

.storemenu a {
  color: #f9fbfe;
}

.contactmenu {
  display: grid;
  position: absolute;
  left: 1054px;
  top: 139px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  row-gap: 30px;
}

.contactmenu a {
  color: #f9fbfe;
}
