* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  height: 700px;
  left: 0px;
  top: 0px;

  background-image: url(../IMAGE/coffeeheader.png);
  background-size: cover;
  border-radius: 20px;
}

.headerback {
  position: absolute;
  width: 100%;
  height: 700px;
  left: 0px;
  top: 0px;

  font-family: "Lato";
  font-style: normal;

  background: #143642b2;
  opacity: 0.8;
  border-radius: 20px;
}

.headerlogo img {
  position: absolute;
  height: 67px;
  left: 138px;
  top: 39px;
}

a {
  text-decoration: none;
}

.headermenu {
  display: flex;
  position: absolute;
  left: 906px;
  top: 54px;

  font-weight: 400;
  font-size: 30px;
  column-gap: 50px;
}

.headermenu a {
  color: white;
}

.headertext h1 {
  position: absolute;
  right: 400px;
  left: 400px;
  top: 239px;

  font-weight: 800;
  font-size: 70px;
  line-height: 84px;

  text-align: center;
  color: white;
}

.headertext h2 {
  position: absolute;
  right: 370px;
  left: 370px;
  top: 417px;

  font-weight: 400;
  font-size: 36px;
  line-height: 43px;

  text-align: center;
  color: white;
}

main {
  width: 100%;
}

.whoarewe img {
  position: absolute;
  height: 460px;
  left: 257px;
  top: 800px;

  border-radius: 20px;
}

.whoarewe h1 {
  position: absolute;
  height: 58px;
  left: 730px;
  top: 800px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #0f8b8d;
}

.whoarewe .rectangle1 {
  position: absolute;
  width: 278px;
  height: 5px;
  left: 730px;
  top: 878px;

  background: #ec9a29;
}

.whoarewe h2 {
  position: absolute;
  width: 452px;
  height: 116px;
  left: 730px;
  top: 903px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #143642;
}

.product h1 {
  position: absolute;
  height: 58px;
  left: 257px;
  top: 1360px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #0f8b8d;
}

.product .rectangle2 {
  position: absolute;
  width: 399px;
  height: 5px;
  left: 257px;
  top: 1438px;

  background: #ec9a29;
}

.product h2 {
  position: absolute;
  width: 425px;
  height: 58px;
  left: 257px;
  top: 1463px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #143642;
}

.product .probutton {
  position: absolute;
  width: 335px;
  height: 70px;
  left: 257px;
  top: 1566px;

  background: #a8201a;
  border-radius: 55px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
  color: #f9fbfe;

  opacity: 0.8;
}

.product .probutton:hover {
  opacity: 1;
}

.product img {
  position: absolute;
  height: 335px;
  left: 828px;
  top: 1365px;

  border-radius: 20px;
}

.hangout img {
  position: absolute;
  height: 433px;
  left: 257px;
  top: 1795px;

  border-radius: 20px;
}

.hangout h1 {
  position: absolute;
  height: 58px;
  left: 828px;
  top: 1795px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  color: #0f8b8d;
}

.hangout .rectangle3 {
  position: absolute;
  width: 381px;
  height: 5px;
  left: 828px;
  top: 1873px;

  background: #ec9a29;
}

.hangout p {
  position: absolute;
  width: 398px;
  height: 87px;
  left: 828px;
  top: 1898px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #143642;
}

.hangout .hangbutton {
  position: absolute;
  width: 335px;
  height: 70px;
  left: 848px;
  top: 2030px;

  background: #a8201a;
  border-radius: 55px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
  color: #f9fbfe;

  opacity: 0.8;
}

.hangout .hangbutton:hover {
  opacity: 1;
}

.instagram h1 {
  position: absolute;
  height: 58px;
  left: 300px;
  top: 2348px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  text-align: center;

  color: #0f8b8d;
}

.instagram span {
  color: #ec9a29;
}

.instagram .feed1 {
  position: absolute;
  height: 237px;
  left: 257px;
  top: 2456px;
}

.instagram .feed2 {
  position: absolute;
  height: 237px;
  left: 602px;
  top: 2456px;
}

.instagram .feed3 {
  position: absolute;
  height: 237px;
  left: 947px;
  top: 2456px;
}

.instagram .feed4 {
  position: absolute;
  width: 237px;
  height: 237px;
  left: 257px;
  top: 2743px;
}

.instagram .feed5 {
  position: absolute;
  width: 237px;
  height: 237px;
  left: 602px;
  top: 2743px;
}

.instagram .feed6 {
  position: absolute;
  width: 237px;
  height: 237px;
  left: 947px;
  top: 2743px;
}

.askmore h1 {
  position: absolute;
  height: 58px;
  left: 600px;
  top: 3080px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;

  text-align: center;

  color: #0f8b8d;
}

.askmore h2 {
  position: absolute;
  height: 29px;
  left: 300px;
  top: 3158px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  text-align: center;

  color: #143642;
}

.askmore .askbutton {
  position: absolute;
  width: 335px;
  height: 70px;
  left: 552px;
  top: 3207px;

  background: #a8201a;
  border-radius: 55px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 70px;
  text-align: center;
  color: #f9fbfe;

  opacity: 0.8;
}

.askmore .askbutton:hover {
  opacity: 1;
}

footer {
  position: absolute;
  width: 100%;
  height: 460px;
  left: 0px;
  top: 3377px;

  background: #143642;
  border-radius: 20px;
}

.footerlogo img {
  position: absolute;
  width: 355px;
  height: 67px;
  left: 138px;
  top: 80px;
}

.mailbutton img {
  position: absolute;
  left: 138px;
  top: 178px;
  filter: invert(1);
}

.phonebutton img {
  position: absolute;
  left: 205px;
  top: 178px;
  filter: invert(1);
}

.footermenu ul {
  display: flex;
  position: absolute;
  left: 706px;
  top: 80px;

  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
  column-gap: 90px;
}

.footermenu li {
  color: #ec9a29;
  list-style: none;
}

.productmenu {
  display: grid;
  position: absolute;
  left: 706px;
  top: 139px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  row-gap: 30px;
}

.productmenu a {
  color: #f9fbfe;
}

.storemenu {
  display: grid;
  position: absolute;
  left: 901px;
  top: 139px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  row-gap: 30px;
}

.storemenu a {
  color: #f9fbfe;
}

.contactmenu {
  display: grid;
  position: absolute;
  left: 1054px;
  top: 139px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  row-gap: 30px;
}

.contactmenu a {
  color: #f9fbfe;
}

/* ======================================= */
/* RESPONSIVE PAGES STYLING 1300 PX BELOW */
/* ======================================*/

@media (max-width: 1300px) {
  /* HEADER */

  header {
    height: 650px;
  }

  .headerback {
    height: 650px;
  }

  .headerlogo img {
    width: 330px;
    height: 60px;
    left: 130px;
    top: 35px;
  }

  .headermenu {
    left: 700px;
    top: 50px;
    font-size: 30px;
    column-gap: 50px;
  }

  .headertext h1 {
    right: 350px;
    left: 350px;
    top: 210px;

    font-size: 65px;
    line-height: 65px;
  }

  .headertext h2 {
    right: 350px;
    left: 350px;
    top: 370px;

    font-size: 30px;
    line-height: 30px;
  }

  /* MAIN */

  .whoarewe img {
    height: 400px;
    left: 200px;
    top: 750px;
  }

  .whoarewe h1 {
    height: 50px;
    left: 600px;
    top: 750px;

    font-size: 45px;
    line-height: 55px;
  }

  .whoarewe .rectangle1 {
    width: 270px;
    height: 5px;
    left: 600px;
    top: 820px;
  }

  .whoarewe h2 {
    width: 450px;
    height: 110px;
    left: 600px;
    top: 850px;

    font-size: 20px;
    line-height: 25px;
  }

  .product h1 {
    height: 50px;
    left: 200px;
    top: 1200px;

    font-size: 45px;
    line-height: 55px;
  }

  .product .rectangle2 {
    width: 270px;
    height: 5px;
    left: 200px;
    top: 1270px;
  }

  .product h2 {
    width: 450px;
    height: 50px;
    left: 200px;
    top: 1300px;

    font-size: 20px;
    line-height: 25px;
  }

  .product .probutton {
    width: 300px;
    height: 60px;
    left: 200px;
    top: 1400px;

    font-size: 20px;
    line-height: 60px;
  }

  .product img {
    height: 300px;
    left: 730px;
    top: 1200px;
  }

  .hangout img {
    height: 350px;
    left: 200px;
    top: 1600px;
  }

  .hangout h1 {
    height: 50px;
    left: 670px;
    top: 1600px;

    font-size: 45px;
    line-height: 55px;
  }

  .hangout .rectangle3 {
    width: 270px;
    height: 5px;
    left: 670px;
    top: 1670px;
  }

  .hangout p {
    width: 450px;
    height: 80px;
    left: 670px;
    top: 1700px;

    font-size: 20px;
    line-height: 25px;
  }

  .hangout .hangbutton {
    width: 300px;
    height: 60px;
    left: 670px;
    top: 1800px;

    font-size: 20px;
    line-height: 60px;
  }

  .instagram h1 {
    height: 50px;
    left: 260px;
    top: 2050px;

    font-size: 40px;
    line-height: 50px;
  }

  .instagram .feed1 {
    height: 200px;
    left: 200px;
    top: 2150px;
  }

  .instagram .feed2 {
    height: 200px;
    left: 500px;
    top: 2150px;
  }

  .instagram .feed3 {
    height: 200px;
    left: 800px;
    top: 2150px;
  }

  .instagram .feed4 {
    width: 200px;
    height: 200px;
    left: 200px;
    top: 2400px;
  }

  .instagram .feed5 {
    width: 200px;
    height: 200px;
    left: 500px;
    top: 2400px;
  }

  .instagram .feed6 {
    width: 200px;
    height: 200px;
    left: 800px;
    top: 2400px;
  }

  .askmore h1 {
    height: 50px;
    left: 470px;
    top: 2700px;

    font-size: 45px;
    line-height: 50px;
  }

  .askmore h2 {
    height: 25px;
    left: 270px;
    top: 2775px;

    font-size: 20px;
    line-height: 25px;
  }

  .askmore .askbutton {
    width: 300px;
    height: 60px;
    left: 450px;
    top: 2850px;

    font-size: 20px;
    line-height: 60px;
  }

  /* FOOTER */

  footer {
    height: 450px;
    left: 0px;
    top: 3000px;
  }

  .footerlogo img {
    width: 330px;
    height: 60px;
    left: 130px;
    top: 75px;
  }

  .mailbutton img {
    left: 130px;
    top: 170px;
  }

  .phonebutton img {
    left: 200px;
    top: 170px;
  }

  .footermenu ul {
    left: 606px;
    top: 80px;

    font-size: 30px;
    line-height: 29px;
    column-gap: 90px;
  }

  .productmenu {
    left: 606px;
    top: 139px;

    font-size: 24px;
    row-gap: 30px;
  }

  .storemenu {
    left: 801px;
    top: 139px;

    font-size: 24px;
    row-gap: 30px;
  }

  .contactmenu {
    left: 954px;
    top: 139px;

    font-size: 24px;
    row-gap: 30px;
  }
}

/* ======================================= */
/* RESPONSIVE PAGES STYLING 1150 PX BELOW */
/* ======================================*/

@media (max-width: 1150px) {
  /* HEADER */

  header {
    height: 600px;
  }

  .headerback {
    height: 600px;
  }

  .headerlogo img {
    width: 300px;
    height: 55px;
    left: 120px;
    top: 30px;
  }

  .headermenu {
    left: 600px;
    top: 45px;
    font-size: 25px;
    column-gap: 50px;
  }

  .headertext h1 {
    right: 250px;
    left: 250px;
    top: 200px;

    font-size: 60px;
    line-height: 60px;
  }

  .headertext h2 {
    right: 250px;
    left: 250px;
    top: 350px;

    font-size: 25px;
    line-height: 25px;
  }

  /* MAIN */

  .whoarewe img {
    height: 350px;
    left: 150px;
    top: 700px;
  }

  .whoarewe h1 {
    height: 45px;
    left: 500px;
    top: 700px;

    font-size: 40px;
    line-height: 50px;
  }

  .whoarewe .rectangle1 {
    width: 250px;
    height: 5px;
    left: 500px;
    top: 750px;
  }

  .whoarewe h2 {
    width: 400px;
    height: 100px;
    left: 500px;
    top: 770px;

    font-size: 20px;
    line-height: 25px;
  }

  .product h1 {
    height: 45px;
    left: 150px;
    top: 1100px;

    font-size: 40px;
    line-height: 50px;
  }

  .product .rectangle2 {
    width: 250px;
    height: 5px;
    left: 150px;
    top: 1150px;
  }

  .product h2 {
    width: 400px;
    height: 45px;
    left: 150px;
    top: 1170px;

    font-size: 20px;
    line-height: 25px;
  }

  .product .probutton {
    width: 300px;
    height: 50px;
    left: 150px;
    top: 1250px;

    font-size: 20px;
    line-height: 50px;
  }

  .product img {
    height: 250px;
    left: 550px;
    top: 1100px;
  }

  .hangout img {
    height: 300px;
    left: 150px;
    top: 1400px;
  }

  .hangout h1 {
    height: 45px;
    left: 550px;
    top: 1400px;

    font-size: 40px;
    line-height: 50px;
  }

  .hangout .rectangle3 {
    width: 250px;
    height: 5px;
    left: 550px;
    top: 1450px;
  }

  .hangout p {
    width: 400px;
    height: 75px;
    left: 550px;
    top: 1470px;

    font-size: 20px;
    line-height: 25px;
  }

  .hangout .hangbutton {
    width: 300px;
    height: 50px;
    left: 550px;
    top: 1550px;

    font-size: 20px;
    line-height: 50px;
  }

  .instagram h1 {
    height: 45px;
    left: 250px;
    top: 1800px;

    font-size: 35px;
    line-height: 45px;
  }

  .instagram .feed1 {
    height: 180px;
    left: 150px;
    top: 1900px;
  }

  .instagram .feed2 {
    height: 180px;
    left: 450px;
    top: 1900px;
  }

  .instagram .feed3 {
    height: 180px;
    left: 750px;
    top: 1900px;
  }

  .instagram .feed4 {
    width: 180px;
    height: 180px;
    left: 150px;
    top: 2150px;
  }

  .instagram .feed5 {
    width: 180px;
    height: 180px;
    left: 450px;
    top: 2150px;
  }

  .instagram .feed6 {
    width: 180px;
    height: 180px;
    left: 750px;
    top: 2150px;
  }

  .askmore h1 {
    height: 45px;
    left: 430px;
    top: 2400px;

    font-size: 40px;
    line-height: 45px;
  }

  .askmore h2 {
    height: 20px;
    left: 220px;
    top: 2450px;

    font-size: 20px;
    line-height: 25px;
  }

  .askmore .askbutton {
    width: 300px;
    height: 50px;
    left: 370px;
    top: 2500px;

    font-size: 20px;
    line-height: 50px;
  }

  /* FOOTER */

  footer {
    height: 350px;
    left: 0px;
    top: 2700px;
  }

  .footerlogo img {
    width: 300px;
    height: 55px;
    left: 120px;
    top: 70px;
  }

  .mailbutton img {
    left: 120px;
    top: 150px;
  }

  .phonebutton img {
    left: 190px;
    top: 150px;
  }

  .footermenu ul {
    left: 500px;
    top: 80px;

    font-size: 20px;
    line-height: 20px;
    column-gap: 80px;
  }

  .productmenu {
    left: 500px;
    top: 130px;

    font-size: 20px;
    row-gap: 25px;
  }

  .storemenu {
    left: 650px;
    top: 130px;

    font-size: 20px;
    row-gap: 25px;
  }

  .contactmenu {
    left: 770px;
    top: 130px;

    font-size: 20px;
    row-gap: 25px;
  }
}

/* ====================================== */
/* RESPONSIVE PAGES STYLING 400 PX BELOW */
/* =====================================*/

@media (max-width: 400px) {
  /* HEADER */

  header {
    height: 450px;
  }

  .headerback {
    height: 450px;
  }

  .headerlogo img {
    width: 135px;
    height: 25px;
    left: 40px;
    top: 20px;
  }

  .headermenu {
    left: 60px;
    top: 65px;
    font-size: 15px;
    column-gap: 50px;
  }

  .headertext h1 {
    right: 50px;
    left: 50px;
    top: 150px;

    font-size: 35px;
    line-height: 40px;
  }

  .headertext h2 {
    right: 50px;
    left: 50px;
    top: 240px;

    font-size: 18px;
    line-height: 18px;
  }

  /* MAIN */

  .whoarewe img {
    height: 200px;
    left: 105px;
    top: 500px;
  }

  .whoarewe h1 {
    height: 25px;
    left: 40px;
    top: 730px;

    font-size: 20px;
    line-height: 25px;
  }

  .whoarewe .rectangle1 {
    width: 100px;
    height: 5px;
    left: 40px;
    top: 760px;
  }

  .whoarewe h2 {
    width: 275px;
    height: 50px;
    left: 40px;
    top: 780px;

    font-size: 15px;
    line-height: 15px;
  }

  .product img {
    height: 200px;
    left: 90px;
    top: 900px;
  }

  .product h1 {
    height: 25px;
    left: 40px;
    top: 1125px;

    font-size: 20px;
    line-height: 25px;
  }

  .product .rectangle2 {
    width: 150px;
    height: 5px;
    left: 40px;
    top: 1155px;
  }

  .product h2 {
    width: 275px;
    height: 50px;
    left: 40px;
    top: 1175px;

    font-size: 15px;
    line-height: 15px;
  }

  .product .probutton {
    width: 150px;
    height: 40px;
    left: 40px;
    top: 1220px;

    font-size: 15px;
    line-height: 40px;
  }

  .hangout img {
    height: 200px;
    left: 85px;
    top: 1325px;
  }

  .hangout h1 {
    height: 25px;
    left: 40px;
    top: 1550px;

    font-size: 20px;
    line-height: 25px;
  }

  .hangout .rectangle3 {
    width: 150px;
    height: 5px;
    left: 40px;
    top: 1580px;
  }

  .hangout p {
    width: 275px;
    height: 50px;
    left: 40px;
    top: 1600px;

    font-size: 15px;
    line-height: 15px;
  }

  .hangout .hangbutton {
    width: 150px;
    height: 40px;
    left: 40px;
    top: 1660px;

    font-size: 15px;
    line-height: 40px;
  }

  .instagram h1 {
    height: 50px;
    right: 60px;
    left: 40px;
    top: 1730px;

    font-size: 20px;
    line-height: 25px;
  }

  .instagram .feed1 {
    width: 80px;
    height: 80px;
    left: 30px;
    top: 1800px;
  }

  .instagram .feed2 {
    width: 80px;
    height: 80px;
    left: 140px;
    top: 1800px;
  }

  .instagram .feed3 {
    width: 80px;
    height: 80px;
    left: 250px;
    top: 1800px;
  }

  .instagram .feed4 {
    width: 80px;
    height: 80px;
    left: 30px;
    top: 1900px;
  }

  .instagram .feed5 {
    width: 80px;
    height: 80px;
    left: 140px;
    top: 1900px;
  }

  .instagram .feed6 {
    width: 80px;
    height: 80px;
    left: 250px;
    top: 1900px;
  }

  .askmore h1 {
    height: 25px;
    left: 120px;
    top: 2025px;

    font-size: 20px;
    line-height: 25px;
  }

  .askmore h2 {
    height: 25px;
    right: 70px;
    left: 30px;
    top: 2065px;

    font-size: 15px;
    line-height: 15px;
  }

  .askmore .askbutton {
    width: 150px;
    height: 40px;
    left: 100px;
    top: 2125px;

    font-size: 15px;
    line-height: 40px;
  }

  /* FOOTER */

  footer {
    height: 350px;
    left: 0px;
    top: 2250px;
  }

  .footerlogo img {
    width: 145px;
    height: 30px;
    left: 40px;
    top: 20px;
  }

  .mailbutton img {
    width: 25px;
    height: 20px;
    left: 255px;
    top: 25px;
  }

  .phonebutton img {
    width: 25px;
    height: 20px;
    left: 300px;
    top: 25px;
  }

  .footermenu ul {
    flex-direction: column;
    left: 40px;
    top: 80px;

    font-size: 15px;
    line-height: 15px;
    row-gap: 75px;
  }

  .productmenu {
    left: 120px;
    top: 80px;

    font-size: 14px;
    row-gap: 14px;
  }

  .storemenu {
    left: 70px;
    top: 200px;

    font-size: 14px;
    row-gap: 14px;
  }

  .contactmenu {
    left: 70px;
    top: 290px;

    font-size: 14px;
    row-gap: 14px;
  }
}
